
*{
    padding: 0;
    margin: 0;
}

body{
 background-image: url('/background\ page.png');
background-repeat: no-repeat;
background-size: 180% 180%;
color: white;  
}

/*---------------Stilos del Header ------------------ */
.header{
  background: url('/logo.svg'), url('/background\ header.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 450px; 
  text-align: center;
  display: flex;
  justify-content: flex-end;
    flex-direction: column;                 
}


/*------------------Stilo del la ubcacion randon---------------*/
.locationContainer{
display: flex;
justify-content: center;
margin-bottom: 10px;
}

.location{
  display:flex;
  flex-direction: column;
  border: solid #8EFF8B;
  width: 900px;
  padding: 10px;
  margin: -20px;
  border-radius: 5px;
  background: black;
}
.tablet{
  display: flex;
  padding: 10px;
}

/*-----------Stilo del buscador------------------*/
.secBuscar{
  text-align: center;
  margin: 20px;
}

form{
  padding: 10px;
}

input{
  color: white;
  background-color: #00000077;
  border:solid #8EFF8B;
  font-size: 20px;
  width:415px;
 height:50px;
 border-radius: 5px;
 text-align: center;
}


/*----------------Stilos de lo botones------------------- */
button{
  background-color: rgb(142,255,139,0.5);
  color: #FBFBFB;
 border: solid #8EFF8B;
 font-size: 20px;
 width:215px;
 height:60px;
 border-radius: 5px;
}

button:hover{
  color: #000000;
 background-color: #8EFF8B;
 border: solid #8EFF8B;
 
}

/*-------------contenedor de la imagen y el status------------------- */
.imgContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.status{
  color: white;
}

h5{
  padding: 5px;
}

h4{
  position: relative;
  top: -35px;
  z-index:2;
  border: solid #8fff8bcc;
  background-color: rgba(2, 10, 2, 0.56);
height: 25px;
width:108px ;
}

h2{
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

img{
  border: solid #8EFF8B;
  border-radius: 5px;
}

/*------------------dimension de la caja ul y li */
ul{

 
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: stretch;
}

li{
  background-color:  #8fff8b4e;
  border-radius: 5px;
  border: solid #8EFF8B;
  padding: 5px;
  margin: 10px;
  width: 437;
  height: 640;
}

hr{
  text-align: center;
  border-color:#168196db;
  width: 300px;
}

/*---------------Informacion------------------*/
.inform{
  background-color: rgba(0, 0, 0, 0.767);
  display: flex;
}



label{
  color:rgb(167, 165, 165);
}
.labels{

  color:rgb(167, 165, 165);
  padding: 5px;
}

/*------Estilo de los botones como footer------*/
.footer{
  text-align: center;
  margin:20px 0;
  border:solid #8EFF8B;
 display: flex;
 justify-content: center;
  
}

.contButton{
  border:solid #8EFF8B;
  width: 300px;
  height: 60px;
  overflow-y: hidden;
  overflow-x: scroll;

}

.footer .contButton{
  list-style:none;
	text-align: center;
}

.footer .contButton .page{
  display:inline-block;
	margin-right:10px;
  overflow: auto;
}

.footer .contButton .page{
  display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}

.footer .contButton .page:hover {
	background:#037E8C;
}


.footer .contButton .page .active {
	background:#037E8C;
	font-weight:bold;
}

