
*{
    padding: 0;
    margin: 0;
}

body{
 background-image: url('/background\ page.png');
background-repeat: no-repeat;
background-size: 180% 180%;
color: white;  
}

/*---------------Stilos del Header ------------------ */
.header{
  background: url('/logo.svg'), url('/background\ header.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 470px; 
  text-align: center;
  display: flex;
  justify-content: flex-end;
    flex-direction: column;                 
}


/*------------------Stilo del la ubcacion randon---------------*/
.locationContainer{
display: flex;
justify-content: center;
margin-bottom: 10px;
}

.location{
  display:flex;
  flex-direction: column;
  border: solid #8EFF8B;
  width: 900px;
  padding: 10px;
  margin: -20px;
  border-radius: 5px;
  background: black;
}
.tablet{
  display: flex;
  padding: 10px;
}
.tablet2{
  display: flex;
  padding: 10px;
}

/*-----------Stilo del buscador------------------*/
.secBuscar{
  text-align: center;
  margin: 20px;
}

form{
  padding: 10px;
}

input{
  color: white;
  background-color: #00000077;
  border:solid #8EFF8B;
  font-size: 20px;
  width:415px;
 height:50px;
 border-radius: 5px;
 text-align: center;
}


/*----------------Stilos de lo botones------------------- */
button{
  background-color: rgb(142,255,139,0.5);
  color: #FBFBFB;
 border: solid #8EFF8B;
 font-size: 20px;
 width:215px;
 height:60px;
 border-radius: 5px;
}

button:hover{
  color: #000000;
 background-color: #8EFF8B;
 border: solid #8EFF8B;
 
}

/*-------------contenedor de la imagen y el status------------------- */
.imgContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px
}

.status{
  color: white;
}

h5{
  padding: 5px;
}

h4{
  position: relative;
  top: -35px;
  z-index:2;
  border: solid #8fff8bcc;
  background-color: rgba(2, 10, 2, 0.56);
height: 25px;
width:108px ;
}

h2{
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

img{
  border: solid #8EFF8B;
  border-radius: 5px;
}

/*------------------dimension de la caja ul y li */
ul{
  list-style: none;
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: stretch;
}

li{
  background-color:  #8fff8b4e;
  border-radius: 5px;
  border: solid #8EFF8B;
  padding: 5px;
  margin: 10px;
  width: 437;
  height: 640;
}

hr{
  text-align: center;
  border-color:#168196db;
  width: 300px;
}

/*---------------Informacion------------------*/
.inform{
  background-color: rgba(0, 0, 0, 0.767);
  display: flex;

}



label{
  color:rgb(167, 165, 165);
}
.labels{

  color:rgb(167, 165, 165);
  padding: 5px;
}

/*------Estilo de los botones como footer------*/
.footer{
  display: flex;
  justify-content: center;
  margin:20px 0;
  
}

 .contButton{
  display: flex;
  justify-content: center;
  overflow-x:hidden;
  text-overflow: ellipsis;
  width: 90%;
 }

/*-----------------Responsive---------------------*/

@media screen and (max-width: 3000px) { body{height: auto;width: auto;}
.header {
  height: 670px;
}
}
@media screen and (max-width: 2000px) { body{height: auto;width: auto;}
.header{
  height: 470px; 
}
}
@media screen and (max-width: 1000px) { body{height: auto;width: auto;}}
@media screen and (max-width: 900px) {
  .location {
    width: 750px;
    padding: 10px;
    margin: 30px; 
}

.contButton{
  width: 80%;
}


}


@media screen and (max-width: 900px) {
  .location {
    width: 750px;
    padding: 10px;
    margin: 30px; 
}

.contButton{
  width: 87%;
}


}

@media screen and (max-width: 800px) {
  .location {
    width: 650px;
    padding: 10px;
    margin: 30px;
}

.contButton{
  width: 90%;
}

}

@media screen and (max-width: 700px) {
  .location {
    width: 550px;
    padding: 10px;
    margin: 30px;
}

.contButton{
  width: 90%;
}

}

@media screen and (max-width: 600px) {

  .header {
    height: 350px
  
}
.location {
  display: flex;
  width: 400px;
    flex-direction: row;
}

.tablet {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: -10px;
}

.tablet2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: -10px;
}
h2 {
  width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

input {
  font-size: 12px;
  width: 165px;
  height: 40px;
}

button {
  font-size: 12px;
  width: 100px;
  height: 45px;
}

.contButton{
  width: 75%;
}
}

@media screen and (max-width: 500px) {
  .header {
    height: 250px
  
}
.location {
  display: flex;
  width: 300px;
    flex-direction: row;
    margin: -20px;

}

.tablet {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: -10px;
}

.tablet2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: -10px;
}
h2 {
  width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

input {
  font-size: 12px;
  width: 115px;
  height: 40px;
}

button {
  font-size: 12px;
  width: 100px;
  height: 45px;
}

.contButton{
  width: 75%;
}

  
}

@media screen and (max-width: 400px) {

  .header {
    height: 250px
  
}
.location {
  display: flex;
  width: 300px;
    flex-direction: row;
}

.tablet {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: -10px;
}

.tablet2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: -10px;
}
h2 {
  width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

input {
  font-size: 12px;
  width: 115px;
  height: 40px;
}

button {
  font-size: 12px;
  width: 100px;
  height: 45px;
}

.contButton{
  width: 85%;
}

}

